.bossFrame {
	display: none;
	user-select: none;
	pointer-events: none;

	width: 100vw;
	height: 100vh;
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

	background-image: url("../img/bossRoom/bossFrame.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bossFrame.active {
	display: block;
}
#kingBossFrame {
	background-image: url("../img/bossRoom/bossFrame.svg");
}
#kingBossFrame.phase2 {
	background-image: url("../img/bossRoom/bossFramePhase2.svg");
}
#kingBossFrame.defeated {
	background-image: url("../img/bossRoom/bossFrameDefeated.svg");
}