#homeWrapperOld {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;

	width: 100vw;
	height: 100vh;
	background: #2c2a34;
}
#homeWrapperOld.active {
	display: block;
}


#modeSelect {
	display: none;
}
#modeSelect.active {
    display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-template-rows: 300px;
	column-gap: 100px;

	width: min-content;
	margin: auto;

	margin-top: 50vh;
	transform: translateY(-50%);

	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 22px;
	color: #d0d0d0;
	text-align: center;
	min-width: 150px;

	user-select: none;
	-webkit-user-select: none;
}

#modeSelect .mode {
	position: relative;
	width:  300px;
	height: 300px;
	line-height: 300px;
	
	cursor: pointer;

	background: linear-gradient(45deg, #492dae, #e33c7f);
}
#modeSelect .mode.grayed {
	filter: grayscale(80%) brightness(90%);
	cursor: default;
}
#modeSelect .mode::before {
	content: "";
	display: block;

	position: absolute;
	top:  2px;
	left: 2px;
	z-index: 0;
	width:  296px;
	height: 296px;
	
	background: linear-gradient(45deg, #2b2835, #2b2729);
}
#modeSelect .mode:not(.grayed):hover::before {
	background: linear-gradient(45deg, #332d52, #3a2c31);
}

#modeSelect .mode span {
	vertical-align: middle;
	line-height: normal;
	position: relative;
	z-index: 2;
}



.trackSelect {
	display: none;
}
.trackSelect.active {
    display: block;

	width: max-content;
	margin: auto;

	margin-top: 50vh;
	transform: translateY(-50%);

	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 22px;
	color: #d0d0d0;
	text-align: center;
	min-width: 150px;

	user-select: none;
	-webkit-user-select: none;

	cursor: pointer;
}

.trackSelect .track {
	display: inline-block;
	position: relative;
	width:  300px;
	height: 300px;
	line-height: 300px;

	margin-right: 100px;
	margin-left: 0;

	background: linear-gradient(45deg, #492dae, #e33c7f);
}
.trackSelect .track:last-child {
	margin-right: 0;
}
.trackSelect .track::before {
	content: "";
	display: block;

	position: absolute;
	top:  2px;
	left: 2px;
	z-index: 0;
	width:  296px;
	height: 296px;
	
	background: linear-gradient(45deg, #2b2835, #2b2729);
}
.trackSelect .track:hover::before {
	background: linear-gradient(45deg, #332d52, #3a2c31);
}

.trackSelect .track span {
	vertical-align: middle;
	line-height: normal;
	position: relative;
	z-index: 2;
}


#homeWrapper {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;

	background-color: #7BC334;

	width: 100vw;
	height: 100vh;
}
#homeWrapper.active {
	display: block;
}

#homeWrapper #map {
	background-image: url("../img/map/map1.png");
	background-size: 3200px;
	background-position: center;
	background-repeat: no-repeat;

	width: 100vw;
	height: 100vh;

	margin: 0;
	position: absolute;
	top: 0;
	left: 0;

	user-select: none;
}
#homeWrapper #map.grass {
	background-image: url("../img/map/map1.png");
}
#homeWrapper #map>div {
	position: absolute;
	top:  50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}
#homeWrapper #map h1 {
	font-family: "Rubik", Arial, sans-serif;
	font-size: 120px;
	font-weight: 700;
	text-align: center;
	color: white;

	margin: 0;
	
	padding: 20px;
	padding-left:  60px;
	padding-right: 60px;
	background-color: #2F3343B2;
	border-radius: 25px;
	backdrop-filter: blur(6px);
	text-shadow: 4px 5px 12px rgba(0, 0, 0, 0.2);
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}
#homeWrapper #map .bestWrapper {
	width: max-content;
	background-color: #FFFFFF1A;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(6px);
	border-radius: 9px;

	padding: 4px;
	padding-left:  25px;
	padding-right: 25px;
	margin-left:  auto;
	margin-right: auto;
	
	position: relative;
	top: -23px;
}
#homeWrapper #map .bestWrapper span {
	display: inline-block;

	font-family: "Rubik", Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
	color: white;
	font-size: 23px;
}
#homeWrapper #map .bestWrapper span:first-child {
	margin-right: 10px;
}
#homeWrapper #map .bestWrapper span:nth-child(2) {
	color: #FF4A3E;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

#homeWrapper #map .startButton {
	display: block;
	width: max-content;

	font-family: "Rubik", Arial, sans-serif;
	text-align: center;
	font-weight: 700;
	color: white;
	font-size: 25px;

	padding: 6px;
	padding-left:  15px;
	padding-right: 15px;
	background-color: #FF4A3E;
	border: 8px solid #CD3B32;
	border-radius: 16px;
	margin-left:  auto;
	margin-right: auto;

	transition: transform 70ms cubic-bezier(0.165, 0.84, 0.44, 1);
	cursor: pointer;
}
#homeWrapper #map .startButton.mousedown {
	transform: scale(0.92);
	background-color: #e44035;
	color: #eaeaea;
}