body {
	margin: 0;
	background: #6CAC2D;
	overflow: hidden;
}
body.rally {
	background: #71B132;/*7BC334*/
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}


#mapInput {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	
	display: none;
}
#mapInput.active {
	display: block;
}
#pathInput {
	position: absolute;
	top: 25px;
	left: 0;
	z-index: 100;
	
	display: none;
}
/* #pathInput.active {
	display: block;
} */


#overhead {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;

	width: 100vw;
	height: 100vh;
}
#timingOverhead, #chaseOverhead {
	display: none;
}
#overhead.time #timingOverhead, #overhead.drift #timingOverhead {
	display: block;
}
#overhead.chase #chaseOverhead {
	display: block;
}

/* timing + drift ui */
#timer {
	position: absolute;
	top: 20px;
	right: 20px;

	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-variant-numeric: tabular-nums;
	font-weight: bold;
	font-size: 42px;
	color: #AAAAAA; /* AAAAAAAAAAAAAAAAAAAHHHHHHHHH! */
	text-align: left;

	min-width: 150px;

	user-select: none;
	-webkit-user-select: none;
}
#bestTime {
	position: absolute;
	top: 65px;
	right: 20px;

	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 22px;
	color: #929292;
	text-align: left;
	min-width: 150px;

	user-select: none;
	-webkit-user-select: none;
}

#completeWrapper {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);

	width: 400px;
	height: 20px;

	background: #9a9a9a;
	border: 5px solid #838383;
	border-radius: 10px;
}
#complete {
	height: 100%;
	width: 0%;

	border-radius: 5px;
	background: #1dd35a;
}

/* chase ui */
#healthWrapper {
	position: absolute;
	top:  60px;
	left: 50px;

	width: 320px;
	height: 30px;
	padding: 8px;

	background: #474747;
	border-radius: 10px;
}
#health {
	width: 100%;
	height: 100%;
	
	background: #D64B4B;
	border-radius: 4px;
}
#healthText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: inline-block;

	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-align: center;

	user-select: none;
	-webkit-user-select: none;
}

#rallyOverhead {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
#rallyOverhead.active {
	display: block;
}

#rallyCountdown {
	display: none;
	position: absolute;
	top: 10vh;
	left: 50vw;
	transform: translateX(-50%);

	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 50px;
	color: white;
	text-align: center;
	line-height: 51px;
	font-feature-settings: 'ss04' on, 'ss01' on;
	text-shadow: 5px 4px 4px rgba(38, 38, 38, 0.25);
}
#rallyCountdown.active {
	display: block;
}


#rallyFinish {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	user-select: none;
	-webkit-user-select: none;
}
#rallyFinish.active {
	display: block;
}
#rallyFinishText {
	display: none;

	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 50px;
	color: white;
	text-align: center;
	font-feature-settings: 'ss04' on, 'ss01' on;
	text-shadow: 5px 4px 4px rgba(38, 38, 38, 0.25);
}
#rallyFinishText.active {
	display: block;
}
.rallyFinishTitle {
	position: absolute;
	top:  50vh;
	left: 50vw;
	transform: translate(-50%, -50%);

	font: inherit;

	animation-name: rallyFinishTitleIn;
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
	animation-duration: 1500ms;
	/* animation-delay: 100ms; */
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	
	pointer-events: none;
}
#rallyFinishTime {
	position: absolute;
	top:  50vh;
	left: 50vw;
	transform: translate(-50%, -50%);

	font: inherit;

	animation-name: rallyFinishTimeIn;
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
	animation-duration: 3200ms; /* 3200ms default */
	animation-delay: 0ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;

	pointer-events: none;
}

@keyframes rallyFinishTitleIn {
	0% {
		clip-path: polygon(0 0, 5% 0, 5% 100%, 0 100%);
	}
	20% {
		clip-path: polygon(0 0, 106% 0, 100% 100%, 0 100%);
	}
	80% {
		clip-path: polygon(0 0, 106% 0, 100% 100%, 0 100%);
	}
	100% {
		clip-path: polygon(106% 0, 106% 0, 100% 100%, 100% 100%);
	}
}
@keyframes rallyFinishTimeIn {
	0% {
		clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
	}
	37.5% {
		clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
	}
	47% {
		clip-path: polygon(0 0, 106% 0, 100% 100%, 0 100%);
	}
	91% {
		clip-path: polygon(0 0, 106% 0, 100% 100%, 0 100%);
	}
	100% {
		clip-path: polygon(106% 0, 106% 0, 100% 100%, 100% 100%);
	}
}
