body {
	margin: 0;
	background: #EEDAD5; /*71B132, 6CAC2D*/
	overflow: hidden;
	user-select: none;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.svgFilter {
	display: none;
}

canvas.hidden {
	pointer-events: none;
	display: none;
}

#motionBlur {
	z-index: 0;
	pointer-events: none;
	opacity: 1;
	filter: url(#blurFilter);
}
#motionBlurWrapper {
	transform-origin: center;
}


#mapInput {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	
	display: none;
}
#mapInput.active {
	display: block;
}

#blackScreen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

	width: 100vw;
	height: 100vh;
	background: #0E2736;

	display: none;
}
#blackScreen.active {
	display: block;
}