body {
	margin: 0;
	background: #EEDAD5; /*71B132, 6CAC2D*/
	overflow: hidden;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.svgFilter {
	display: none;
}

canvas.hidden {
	pointer-events: none;
	display: none;
}

#motionBlur {
	z-index: 1;
	pointer-events: none;
	opacity: 1;
	filter: url(#blurFilter);
}
#motionBlurWrapper {
	transform-origin: center;
}


#mapInput {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	
	display: none;
}
#mapInput.active {
	display: block;
}
