#overheadRunUI {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;

	font-family: "Dosis", sans-serif;
	font-weight: bold;
	font-size: 28px;
	color: white;

	user-select: none;
	pointer-events: none;
}
#inventoryWrapper {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);

	user-select: none;
	pointer-events: none;

	display: flex;
}

#runMoney {
	display: inline-block;

	height: 50px;
	border-radius: 16px;
	background: #28363E;

	display: flex;
	align-items: center;

	padding-left:  20px;
	padding-right: 20px;
	margin-left: 14px;
}
#runMoney::before {
	content: "$";
	display: inline-block;
	color: #9DF897;
	margin-right: 6px;
}