#rallyUI {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 8;

	pointer-events: none;
}
#progressWrapper {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
	z-index: 5;

	width: 10px;
	height: 500px;

	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-height: 700px) {
	#progressWrapper {
		transform: translateY(-50%) translateY(50px);
	}
}

#splits {
	position: relative;
	width: 100%;
	height: 100%;
}
#splits .split {
	position: relative;
	width: 10px;
	background: #D8D8D84D;
	border-radius: 0px;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.05);
}
#splits .split:first-child {
	border-radius: 2px 2px 0 0;
}
#splits .split:last-child {
	border-radius: 0 0 2px 2px;
}
#splits .split:only-child {
	border-radius: 2px;
}
#splits .split:not(:first-child):not(.complete)::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-2.5px);

	width: 18px;
	height: 5px;
	background: #E7E7E7;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	border-radius: 1px;
}
#splits .split.good {
	background: #00FF85BF;
}
#splits .split.bad {
	background: #FF3049BF;
}
#splits .split.complete {
	background: #FFFFFF99;
	z-index: -1;
}
#progressWrapper .marker {
	width:  11px;
	height: 11px;
	background: #858585;
	border: 4px solid #636363;
	border-radius: 4px;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	z-index: 1;
}
#progressWrapper #playerMarker.marker {
	background: #FF483C;
	border: 4px solid #A83333;
}